@font-face {
    font-family: "font-1";
    src: url(./fonts/IBMPlexSans-Light.ttf);
}

@font-face {
    font-family: "font-2";
    src: url(./fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: "font-3";
    src: url(./fonts/IBMPlexSans-Bold.ttf);
}

h1 {
    font-family: "font-2", serif;
    font-weight: 100;
    font-size: 2.64062rem;
    margin: 1.5625rem 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

body {
    background: linear-gradient(125deg, #253c5b, #611443, #253c5b,
            #611443, #253c5b,
            #611443);
    ;
    animation: bganimation 15s infinite;
    background-size: 400%;
    background-repeat: no-repeat;
    height: 937px;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-page {
    display: flex;
}


.log-container {
    background: #ffffff;
    height: 25em;
    width: 30em;
    border-radius: 5px;
    margin: auto;
    margin-top: 15em;
    padding: 40px 40px 0px 40px;
-webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.62);
    font-family: 'font-2';
}



.header {
    color: #e52728;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.log-input input {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 0.39062rem 0.5625rem;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    background-color: #fbfcfe;
    border: 0.0625rem solid #d9dbe3;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: border-color .15s
}

.login-button {
    padding: 8px;
    margin: 5px;
    color: #fff;
    background: rgb(0, 81, 255);
    border-radius: 5px;
    border: none;
    width: 70px;
    font-family: 'font-2';
}

.password {
    position: relative;
    max-width: none;
    flex-basis: auto;
}

.password-button {
    z-index: 1;
    position: absolute;
    display: inline-flex;
    top: 45%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0.39062rem 0.5625rem 0.39062rem 0.5rem;
    line-height: 1.5;
    text-align: center;
    color: #a0b2ca;
    font-size: 1rem;
    font-weight: 300;
    transition: .2s;
    border: none;
    background: transparent;
    outline: none !important;
}

.password-button svg:hover {
    color: black;
    transition: .3s;
    cursor: pointer;
}

.sign-up-form {
    margin: 10%;
}

.password input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 2.5em
}

.forgot {
    text-align: left;
    font-family: 'font-3';

}

.bottom-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.password-error {
    color: red;
}

.titre {
    color: #253c5b;
}