.title{
    text-align:center;
    font-size:40px;
    padding:50px 0px 0px;
    font-family:Verdana;
    color:red;
  }
  
  .BtnImp {
    font-size:20px;
    color:white;
    font-family:Verdana;
    background-color:#0323A9;
    border-radius: 15px;
    padding:7px;
    align-items:center;
  }
  