.content{
    margin: 10px;
}    
.title_content{
    text-align: center;
}
.title{
    text-align:center;
    font-size:40px;
    padding:50px 0px 0px;
    font-family:Verdana;
    color:red;
}

.BtnImp {
    font-size:15px;
    color:white;
    font-family:Verdana;
    background-color:#0323A9;
    border-radius:18px;
    padding:7px;
    float:right;
    border:0px;
}

.content_import_btn{
    padding-right:30px;
    width:100%;
    height:50px;
}
table{
    width: 90%;
    padding: 10px;
    background-color: white;
    border-collapse: collapse;
    border: 1px #dee2e6 solid;
}
.content_table{
    margin: 1%;
}
table thead{
    text-align: left;

    font-weight: 600;
}
table tbody td{
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    font-size: .9rem;
    font-weight: 300;
}
