.content{
    margin: 10px;
}    
.title{
    text-align: center;
}
table{
    width: 90%;
    padding: 10px;
    background-color: white;
    border-collapse: collapse;
    border: 1px #dee2e6 solid;
}
.content_table{
    margin: 1%;
}
table thead{
    text-align: left;

    font-weight: 600;
}
table tbody td{
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    font-size: .9rem;
    font-weight: 300;
}
