table{
    width: 80%;
    padding: 10px;
    background-color: white;
    border-collapse: collapse;
    
}
table thead{
    text-align: left;

    font-weight: 600;
}
table tbody td{
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    font-size: .9rem;
    font-weight: 300;
}
